.login-page
  width 100%

.login-content
  text-align center
  padding $base-padding
  width 100%

.login-title
  text-align center
  font-weight bold

.login-subtext
  color #bbb
  margin-top 15px

.login-input-group
  width 33.33333333333%
  margin 0 auto
  @media screen and (max-width: 480px)
    width 100%

.login-input
  padding $base-padding-sm

.login-btn
  background-color lighten(#3c763d, 17%)
  color #fff
  &:active:enabled
    background-color darken(#3c763d, 10%)
  &:disabled
    background-color darken(#3c763d, 45%)
    
.login-google
  display block
  width 200px
  height 50px
  margin 0 auto
  background url('./imgs/btn_google_signin_light_normal_web@2x.png') no-repeat
  background-size 191px 46px
  
  &:active
    background-image url('./imgs/btn_google_signin_light_pressed_web@2x.png')
  &:focus
    background-image url('./imgs/btn_google_signin_light_focus_web@2x.png')
  &[disabled]
    background-image url('./imgs/btn_google_signin_light_disabled_web@2x.png')
  
.login-input,
.login-btn
  display block
  appearance none
  border 1px solid #ddd
  border-radius $base-border-radius
  width 200px
  height 50px
  margin 10px auto
  