
.input {
  display: block;
  width: 100%;
  appearance: none;
  border: 0;
  border-bottom: 1px solid var(--black);
  padding: 8px;
  outline: none;
  font-size: 1em;
  transition: border-bottom-color 300ms ease;
  background-color: transparent;
  border-radius: 0;
}

.input:focus,
.input:active {
  border-bottom-color: var(--attack-color);
}

.input:read-only {
  cursor: text;
}

.input:disabled {
  cursor: not-allowed;
}

.input_label span {
  font-size: 0.70em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--attack-color);
}
