.ability-stat-container
  
  .ability-badge
    width 11px
    height 11px
    display inline-block
    border-radius 50%
  
  .ability-stat-score
    font-size $font-size-small
  
  .ability-stat-mod
    font-size $font-size-xlarge