.class-charges-container
  padding 5px 5px 10px
  cursor pointer
  
  &:active,
  &:focus
    background-color #ddd
  
  h6
    margin 0 0 5px
    padding 0
    small
      margin-left 5px
      
  .segmented-progress-bar-container
    .segment.filled
      background-color $base-attack-color