.stat
  padding-left $base-padding
  h6
    font-style italic
    font-weight bold
  
  &.stat-important
    p
      font-size 3em
  
  &.rest
    padding-top 15px
    
    button
      margin 0
      
.death-saves
  text-align center
  
  span
    font-size 48px
    display block