.money
  width 20%
  display inline-block
  text-align center
  border-top 1px solid $base-border-color
  border-bottom 1px solid $base-border-color
  border-right 1px solid $base-border-color

  &:last-of-type
    border-right 0