.feature-container
  display flex
  flex-flow row wrap
  
  .feature-stat-container
    padding 2px
    width calc(100% / 3)
    overflow ellipses
    height 128px
    
    .feature-stat
      padding 5px
      border 1px solid #ddd
      border-radius 2px
      height 100%
      text-align center
      
      &:active
        background-color #ddd
        
      
      span
        margin-bottom 10px
    