@import('base.styl')

.feature-container
  display flex
  flex-flow row wrap
  
  .feature-stat-container
    padding 2px
    width calc(100% / 3)
    height 128px
    
    .feature-stat
      padding 5px
      border 1px solid $base-border-color
      border-radius 2px
      height 100%
      text-align center
      text-overflow ellipsis
      
      &:active
        background-color $bg-dark
        
      span
        margin-bottom 10px
    