.info-container 
  padding-top 10px
  max-width 500px
  margin 0 auto
  display flex
  flex-flow row nowrap
  align-items flex-start

  .level-container
    text-align center
    flex 1
    h6
      margin 0px
    &:after
      clear both
      content ""
      display table

    .level
      font-size 128px
      margin-top 0px
    

  .info-stat-group
    flex 1
    
    .info-stat
      width 100%
      margin-bottom 2px
      background-color #eee
      
      .header
        background-color #ccc
        color white
        width 100%
        padding 5px
        display block
        
      .content
        padding 5px
        margin 5px auto
        
.info-section
  max-width 500px
  margin 0 auto
  
.tile-container
  display flex
  flex-flow row wrap
  
  .tile-stat-container
    padding 2px
    width calc(100% / 4)
    height 128px
    
    .tile-stat
      padding 5px
      border 1px solid $base-border-color
      border-radius 2px
      height 100%
      text-align center
      text-overflow ellipsis
      
      &:active
        background-color $bg-dark
      
      span
        margin-bottom 10px
        
  .tile-container
    height 50px
    width 500px
    padding 2px

    .tile-stat
      padding 5px
      border 1px solid $base-border-color
      border-radius 2px
      height 100%
      width 100%
      text-align center
      text-overflow ellipsis
      
      &:active
        background-color $bg-dark
      
      span
        margin-bottom 10px
