/******************************************************************************
*
* Colors
*
******************************************************************************/
$bg-blue = #d9edf7
$bg-red = #f2dede
$bg-green = #dff0d8
$bg-gold = #fcf8e3
$text-blue = #31708f
$text-red = #a94442
$text-green = #3c763d
$text-gold = #8a6d3b

$base-background-color = #fff
$base-border-color = #ddd
$base-color = #333

.bg-blue
  background-color $bg-blue

.bg-red
  background-color $bg-red

.bg-green
  background-color $bg-green

.bg-gold
  background-color $bg-gold

.text-blue
  color $text-blue

.text-red
  color $text-red

.text-green
  color $text-green

.text-gold
  color $text-gold



/******************************************************************************
*
* appearance
*
******************************************************************************/
$base-padding = 10px
$base-padding-sm = 5px
$base-padding-md = 10px
$base-padding-lg = 15px
$base-border-radius = 2px
$base-width = 33.33333333333%
$base-width-lg = 66.6666666666%
$base-height = 60px
$base-margin = 35px
$base-component-margin = 10px
$base-margin-bottom = 10px

/******************************************************************************
*
* footer
*
******************************************************************************/
.footer-container
  border-top 1px solid #ddd
  background-color #333
  color #ddd
  text-align center
  padding-top 30px
  padding-bottom 30px
  margin-top 10px
