/******************************************************************************
*
* Colors
*
******************************************************************************/
bg-blue = #d9edf7
bg-red = #f2dede
bg-green = #dff0d8
bg-gold = #fcf8e3
text-blue = #31708f
text-red = #a94442
text-green = #3c763d
text-gold = #8a6d3b

/******************************************************************************
*
* appearance
*
******************************************************************************/
base-padding = 10px
base-border-radius = 2px