span.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/******************************************************************************
*
* Colors
*
******************************************************************************/
.bg-blue {
  background-color: #d9edf7;
}
.bg-red {
  background-color: #f2dede;
}
.bg-green {
  background-color: #dff0d8;
}
.bg-gold {
  background-color: #fcf8e3;
}
.text-blue {
  color: #31708f;
}
.text-red {
  color: #a94442;
}
.text-green {
  color: #3c763d;
}
.text-gold {
  color: #8a6d3b;
}


/******************************************************************************
*
* Absolute Item
*
******************************************************************************/
.absolute-container {
  position: relative;
}

.absolute-item-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  overflow:hidden;

  -webkit-transition: translate3d 500ms ease-in;
  -moz-transition: translate3d 500ms ease-in;
  -ms-transition: translate3d 500ms ease-in;
  -o-transition: translate3d 500ms ease-in;
  transition: translate3d 500ms ease-in;
}

/******************************************************************************
*
* Accordion
*
******************************************************************************/
.accordion-container {
  position: relative;
}
.accordion-item-container {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}
.accordion-item-title {}
