/******************************************************************************
*
* Global
*
******************************************************************************/
html, 
body
  height 100%
  
p
  margin 0
  padding 0
  
#mount
  overflow hidden
  height 100%
  
h1,
h2,
h3,
h4,
h5,
h6
  padding-top $base-padding
  padding-bottom $base-padding
  margin 0

/******************************************************************************
*
* Colors
*
******************************************************************************/
$bg-blue = #d9edf7
$bg-red = #f2dede
$bg-green = #dff0d8
$bg-gold = #fcf8e3
$bg-dark = #ddd
$text-blue = #31708f
$text-red = #a94442
$text-green = #3c763d
$text-gold = #8a6d3b
$text-purple = #b294bb

$base-background-color = #fff
$base-border-color = #ddd
$base-color = #333

$base-attack-color = #AB4642
$base-spell-color = #BA8BAF

$base-str-color = #A16946
$base-dex-color = #DC9656
$base-con-color = #F7ca88
$base-wis-color = #86c1b9
$base-int-color = #7cafc2
$base-cha-color = #a1b56c


.bg-blue
  background-color $bg-blue

.bg-red
  background-color $bg-red

.bg-green
  background-color $bg-green

.bg-gold
  background-color $bg-gold

.text-blue
  color $text-blue

.text-red
  color $text-red

.text-green
  color $text-green

.text-gold
  color $text-gold
  
.text-purple
  color $text-purple
  
.bg-attack
  background-color $base-attack-color

.bg-spell
  background-color $base-spell-color
  
.bg-str
  background-color $base-str-color

.bg-dex
  background-color $base-dex-color

.bg-con
  background-color $base-con-color

.bg-wis
  background-color $base-wis-color

.bg-int
  background-color $base-int-color

.bg-cha
  background-color $base-cha-color

.text-str
  color $base-str-color

.text-dex
  color $base-dex-color
  
.text-con
  color $base-con-color
  
.text-wis
  color $base-wis-color

.text-int
  color $base-int-color

.text-cha
  color $base-cha-color
  
.text-attack
  color $base-attack-color

.text-spell
  color $base-spell-color




/******************************************************************************
*
* appearance
*
******************************************************************************/
$base-padding = 10px
$base-padding-sm = 5px
$base-padding-md = 10px
$base-padding-lg = 15px
$base-border-radius = 2px
$base-width = 33.33333333333%
$base-width-lg = 66.6666666666%
$base-height = 60px
$base-margin = 35px
$base-component-margin = 10px
$base-margin-bottom = 10px

$font-size-small = 11px
$font-size-normal = 14px
$font-size-large = 16px
$font-size-xlarge = 32px

/******************************************************************************
*
* footer
*
******************************************************************************/
.footer-container
  border-top 1px solid #ddd
  background-color #333
  color #ddd
  text-align center
  padding-top 30px
  padding-bottom 30px
  margin-top 10px
