.inputs
  margin-bottom 10px
  label
    display inline-block
  input[type='text'],
  select
    max-width 100%
    display inline-block
  input[type='checkbox']
    display inline-block
    margin-right $base-margin-bottom
  input[type='number']
    display inline-block
    width 100%
  p small
    color #aaa