h3
  input[type='text']
    background-color $base-color
    color $base-background-color
    width 100%
    border 1px solid $base-border-color
    border-radius $base-border-radius
    padding-left $base-padding-sm

textarea
  width 100%
  border-radius $base-border-radius
  border 1px solid $base-border-color
  resize none
  padding-left $base-padding-sm
  min-height 3em
  margin-bottom $base-margin-bottom
  
.labeled-input
  input
    width 3em
  span
    margin-left $base-padding-sm
    