.separate-left
  border-left 1px solid $base-border-color

.separate-right
  border-right 1px solid $base-border-color
  
.text-center
  text-align center
  
.right
  float right

.left
  float left
  
.cf:after
  display table
  clear both
  content ""

.inline-block
  display inline-block
  
.flex
  display flex
.flex-auto
  flex 1 1 auto
  min-width 0
  min-height 0
.flex-center
  align-items center

.vertical-align
  vertical-align middle

.m1
  margin $base-padding
.mt1
  margin-top $base-padding
.ml1
  margin-left $base-padding-sm
.ml2
  margin-left 2 * $base-padding-sm
.p1
  padding $base-padding-sm
.pl2
  padding-left 2 * $base-padding-sm
.pr2
  padding-right 2 * $base-padding-sm
.pl3
  padding-left 3 * $base-padding-sm
.pr3
  padding-right 3 * $base-padding-sm
  
.subtext
  color #aaa
  font-size 0.9em
  margin-bottom $base-padding
  
  &.border-top
    border-top 1px solid $base-border-color
    padding-top $base-padding
  
  .icon
    margin-left $base-padding
