.separate-left
  border-left 1px solid $base-border-color

.separate-right
  border-right 1px solid $base-border-color
  
.text-center
  text-align center
  
.right
  float right

.left
  float left
  
.cf:after
  display table
  clear both
  content ""