.modal-overlay
  position fixed
  opacity 0
  z-index 11
  top 0
  bottom 0
  right 0
  left 0
  background-color rgba(0,0,0, 0.65);
  overflow hidden
  line-height 14px
  transition opacity 300ms ease
  
  display flex
  align-items center
  justify-content center
  
  &.modal-overlay-active
    opacity 1
  
  .modal-content-container
    transform scale(1)
    max-width 500px
    flex 1
    max-height 95%
    margin 2.5% 15px
    overflow-y scroll
    -webkit-overflow-scrolling touch
    border-radius $base-border-radius
    transition transform 300ms ease
    
    &.modal-content-transitioning
      transform scale(1.1)
    
    &.modal-content-active
      transform scale(1)
      opacity 1
    
    .modal-header
      padding $base-padding
      background-color #333
      color $base-background-color
      border-bottom 2px solid #000
      border-top-left-radius $base-border-radius
      border-top-right-radius $base-border-radius
      
      h3
        margin 0
      
    .modal-content
      padding $base-padding
      background-color $base-background-color
      
      p
        line-height 1.4
      
    .modal-footer
      background-color $base-background-color
      border-top 1px solid $base-border-color
      text-align center
      
      button
        height 30px
        appearance none
        border 0
        display inline-block
        outline none
        
        &:disabled,
        &.disabled
          color $text-gray !important
          background-color $bg-gray
          
          &:active
            background-color $bg-gray !important
        
        &:first-child:nth-last-child(1)
          width 100%
          
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ button
          width 50%
          
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ button
          width 33.333333333333%
          
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ button
          width 25%
        
        &:active
          background-color #ddd
        
        p
          font-size 13px
        