.modal-overlay
  display none;
  position fixed
  tabindex -1
  z-index 11
  top 0
  bottom 0
  right 0
  left 0
  background-color rgba(0,0,0, 0.6);
  overflow hidden
  line-height 14px
  transition opacity 300ms ease
  
  .modal-content-container
    tabindex -1
    width 90%
    max-height 95%
    margin 2.5% auto
    overflow-y scroll
    -webkit-overflow-scrolling touch
    border-radius $base-border-radius
    transition all 300ms ease
    
    .modal-header
      padding $base-padding
      background-color #333
      color $base-background-color
      border-bottom 2px solid #000
      border-top-left-radius $base-border-radius
      border-top-right-radius $base-border-radius
      
      h3
        margin 0
      
    .modal-content
      padding $base-padding
      background-color $base-background-color
      
      p
        margin-bottom 10px
      
    .modal-footer
      padding $base-padding
      background-color $base-background-color
  
.modal-overlay-transition,
.modal-content-transition
  display block
  opacity 0
  
.modal-content-transition
  transform scale(1.1)
  
.modal-overlay-active,
.modal-content-active
  opacity 1
  transform scale(1)
  tabindex 1