.container-list-item
  height 50px
  border-top 1px solid $base-border-color
  line-height 45px
  padding-left $base-padding
  
  &:hover
    cursor pointer
  
  &:last-of-type
    border-bottom 1px solid $base-border-color
  
  .container-list-item-glyph
    display inline-block
    line-height 10px
    vertical-align middle
    margin-right 10px;
    
  .container-list-item-content
    display inline-block
    line-height 14px
    vertical-align middle
    