.prepared-spell
  transition background-color 300ms ease
  background-color lighten($base-spell-color, 80%)
  
.modal-content 
  hr
    margin-top 5px
    margin-bottom 5px
  p strong
    width 100px
    display inline-block
    
.prepare-spell-icon
  width 50px
  text-align center
  
