.level-container
  text-align center
  
  .level-header
    font-style italic
    font-weight bold
    
  .level
    font-size 128px
    line-height 128px
        
.info-section
  max-width 500px
  margin 20px auto 0
  
  &:first-of-type
   margin-top 0
  
  .info-section-header
    padding $base-padding
    padding-right 25px
    line-height 14px
    font-size 14px
    
    & > *
      padding 0
    
    .info-section-title
      float left
      font-style italic
      font-weight bold
    
    .info-section-addon
      float right
      
    &:after
      clear both
      display table
      content ""
  
.tile-container
  display flex
  flex-flow row wrap
  
  .tile-stat-container
    padding 2px
    width calc(100% / 4)
    height 128px
    
    .tile-stat
      padding 5px
      border 1px solid $base-border-color
      border-radius 2px
      height 100%
      text-align center
      text-overflow ellipsis
      
      &:active
        background-color $bg-dark
      
      span
        margin-bottom 10px
        
  .tile-container
    height 50px
    width 500px
    padding 2px

    .tile-stat
      padding 5px
      border 1px solid $base-border-color
      border-radius 2px
      height 100%
      width 100%
      text-align center
      text-overflow ellipsis
      
      &:active
        background-color $bg-dark
      
      span
        margin-bottom 10px
