@require('base.styl')

.click-input-container
  display inline-block
  text-align center
  padding base-padding
  
.click-input-title
  height 60px
  line-height 60px
  
.click-input-input
  width 33.33333333333%
  margin 20px auto 10px auto
  height 60px
  display block
  appearance none
  border 1px solid #ddd
  border-radius base-border-radius
  padding base-padding
  @media screen and (max-width: 480px)
    width 100%
  
  
.click-input-hidden
  display none