@require('base.styl')

div.input-group
  text-align left
  & label
    display inline
  & label.input-group-label-block
    display block
  & input
    margin-bottom $base-margin-bottom
  & input[type='checkbox']
    margin-right $base-component-margin
  & input[type='text']
    width 100%
    padding $base-padding-sm
    border-radius $base-border-radius
    appearance none
    border 1px solid $base-border-color
