@import('base.styl')

.menu-container
  position relative
  display inline-block

.menu-header
  padding base-padding
  position relative
  display inline-block
  cursor pointer
  &:active
    background-color darken($base-background-color, 10%)

.menu-content
  background-color $base-background-color
  color $base-color
  z-index -1
  display block
  opacity 0
  position absolute
  top 0
  transition opacity 300ms, top 300ms
  &.menu-left
    left 0
  &.menu-right
    right 0

.menu-item
  max-width 250px
  white-space: nowrap;
  overflow hidden
  text-overflow ellipsis
  padding 2px 5px
  &:hover
    background-color darken($base-background-color, 10%)
  &:active
    background-color darken($base-background-color, 30%)

.menu-active
  opacity 1
  display block
  z-index 1337
  border 1px solid #ddd
  border-radius $base-border-radius
