@require('base.styl')

.message-container
  display block
  border-radius 2px
  padding 10px
  margin-top 5px
  margin-bottom 5px

.message-alert
  border 1px solid text-red
  background-color bg-red
  color text-red

.message-info
  border 1px solid text-blue
  background-color bg-blue
  color text-blue

.message-success
  border 1px solid text-green
  background-color bg-green
  color text-green

.message-warn
  border 1px solid text-gold
  background-color bg-gold
  color text-gold
  
.message-hide
  display none