@require('base.styl')

.stat-container
  display inline-block
  text-align center
  width 100%
  margin-bottom $base-margin-bottom
  &.stat-width-2
    width 50%
  &.stat-width-3
    width 33.3333333%
  &.stat-width-4
    width 25%
  &.stat-width-34
    width 75%

.stat-title
  font-size 11px

.stat-content
  font-size 18px
  height 50px
  width 50px
  margin auto
  >p
    line-height 50px
  &.stat-trained
    border-radius 0
    background-color bg-green
    color text-green
    transform rotate(45deg)
    >p
      transform rotate(-45deg)

.stat-background
  border-radius 50%

.stat-subtitle
  margin-top 10px
  font-size 11px
