@import('base.styl')

.switch-container
  text-align center
  display inline-block
  width 100%
  &.switch-width-2
    width 50%
  &.switch-width-3
    width 33.3333333333%
  &.switch-width-4
    width 25%
  &.switch-width-10
    width 10%
  &.switch-width-sm
    width 25px
    display inline

.switch-outer
  transition background-color 50ms ease
  display inline-block
  position relative
  width 25px
  height 25px
  margin 0 auto
  border-radius 50%
  background-color $bg-green
  &.switch-active
    background-color $bg-red

.switch-content
  transition background-color 50ms ease
  display inline-block
  position absolute
  width 15px
  height 15px
  background-color $bg-green
  border-radius 50%
  left 5px
  top 5px
  &.switch-active
    background-color $text-red
