.popup-container
  transition transform 300ms ease
  height 100%
  width 100%
  background-color $base-background-color

.popup-container.popup-moving
  transform translateY(100%)
  
.popup-container.popup-active
  transform translateY(0)