
.media_layout--container {
  width: 100%;
  height: 100%;;
  display: flex;
  flex-direction: row;
}

.media_layout--top {
  align-items: flex-start;
}

.media_layout--middle {
  align-items: center;
}

.media_layout--bottom {
  align-items: flex-end;
}

.media_layout--media {
  margin-right: 8px;
}

.media_layout--desc {
  flex-grow: 1;
}
