.icon__16 {
  height: 16px !important;
  font-size: 16px !important;
}
.icon__32 {
  height: 32px !important;
  font-size: 32px !important;
}
.icon__48 {
  height: 48px !important;
  font-size: 48px !important;
}
.icon__64 {
  height: 64px !important;
  font-size: 64px !important;
}
