.tab-container
  float left
  width 14.285714286%
  width calc(100% / 3)
  text-align center
  border-bottom 1px solid #ddd
  padding-top 5px
  background-color #333

.tab-container
  &.active
    background-color #fff
    border 1px solid #ddd
    border-bottom-color transparent

.tab-container
  a
    width 100%
    display inline-block

.tab-container
  a:hover
    cursor pointer
