@require('base.styl')

.character-container
  height 100%
.character-header
  position fixed
  width 100%
  z-index 3
.character-body
  padding-top 80px
  height 100%

header
  background-color #333
  color #fff
  & > div
    padding $base-padding
