.panel-container 
  overflow  hidden
  position relative
  margin-bottom 10px
  transform translate3d(0, 0, 0)
  backface-visibility hidden

.panel-header-container 
  position relative
  background-color rgba(255, 255, 255, 1)
  transform translate3d(0, 0, 0)
  backface-visibility hidden
  cursor pointer
  z-index 2

.panel-content-container 
  position absolute
  width 100%
  opacity 0
  padding-top 10px

  transition all 400ms ease
  transform translate3d(0, 0, 0)

  backface-visibility hidden
  z-index -1

.panel-content-container
  &.panel-active 
   opacity 1
   z-index 1

.panel-header-container
  &.panel-active 
    border-bottom 1px solid #ddd