.hp-dialog-container
  .tabs-container
    margin-bottom 10px
    border 1px solid #ccc
    border-radius $base-border-radius
  .tab-container
    background-color #fff
    border 0
    padding 5px
    
    a
      text-decoration none
      &:hover
        text-decoration none
        
    &.active
      background-color #ccc