.feature-type-header span:first-of-type
  display inline-block
  vertical-align middle

.feature-type
  font-size 30px
  text-align center
  height 50px
  width 95%
  margin 0 auto
  margin-top 10px
  margin-bottom 10px
  padding 10px
  border 1px solid transparent
  transition border-color 250ms
  cursor pointer
  
  &.selected
   border 1px solid $text-blue
   border-radius $base-border-radius